/*A few touch-ups*/
::selection {
    color: #6EACDA;
    background: transparent;
}
::-moz-selection { 
    color: #6EACDA;
    background: transparent;
}
::-webkit-scrollbar {
    display: none;
}

/*Animations*/
@keyframes quickfade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes motionfade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}

    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}

@keyframes fade-effect {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/*Designs*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    margin: 0;
    top: 0;
}

.wrapper {
    z-index: -1;
    position: absolute;
    margin: 0;
    top: 0;
}

#fade-effect {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    opacity: 0;
    animation: fade-effect 6s;
}

#textDiv {
    margin: 10% 15%;
    width: 40vw;

}

#heading {
    padding-bottom: 30px;
}

#headingText {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 2.5rem;
    animation: motionfade 1s;
}

.subtext {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

#reach {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0;
    margin: 0 0;
    text-decoration: underline;
    transition: color 0.1s;
    padding-bottom: 2px;
}

#reach:hover {
    color: #6EACDA;
}

#first {
    animation: quickfade 1.5s;
}

#second {
    animation: quickfade 2s;
}

#third {
    animation: quickfade 2.5s;
}

/*Link Texts*/
.linkText {
    text-decoration: underline;
    color: white;
    transition: color 0.1s;
    padding-bottom: 2px;
}

.linkText:hover {
    color: #6EACDA;
}

/*Changing Word animation*/
#changing-word {
    display: inline-block;
    height: 20px;
    transition: opacity 0.5s;
}

/*Socials Section*/
.socialsDiv {
    margin: 0 15%;
    width: 60vw;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.7s ease;
    cursor: default;
}

.socials {
    color: white;
    padding: 0px 10px;
    font-size: 1.5rem;
    border-radius: 100px;
}

/*Different Social icons*/
.fa-instagram {
    transition: color 0.2s;
}
.fa-instagram:hover {
    color: #E1306C;
}

.fa-linkedin {
    transition: color 0.2s;
}
.fa-linkedin:hover {
    color: #0077B5;
}

.fa-github {
    transition: color 0.2s;
}
.fa-github:hover {
    color: #a1a1a1;
}

.fa-envelope {
    transition: color 0.2s;
}
.fa-envelope:hover {
    color: #c71610 ;
}

/*Resizing*/
@media only screen and (max-width: 800px) {
    #textDiv {
        width: 70vw;
    }
    .socials {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 450px) {
    #textDiv {
        width: 80vw;
        margin: 10% 10%;
    }
    #headingText {
        font-size: 2rem;
    }
    .subtext {
        font-size: 0.9rem;
    }
    #socialsDiv {
        margin: 20% 10%;
    }

}

@media only screen and (max-width: 330px) {
    #headingText {
        font-size: 1.5rem;
    }
    .subtext {
        font-size: 0.7rem;
    }
    body {
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 720px) {
    #socialsDiv {
        margin: 0% 15%;
    }
}

@media only screen and (min-width: 2000px) {
    #textDiv {
        margin: 5% 15%;
    }
}